{% extends "magazin_app/baza.html" %}

{% block title %}Schimbare parolă{% endblock %}

{% block content %}
  <section class="formular">
    <h2>Schimbă parola</h2>

    {% if messages %}
      {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
      {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <p>Parola veche: <input type="password" name="old_pass" required></p>
      <p>Parola nouă: <input type="password" name="new_pass" required></p>
      <p>Confirmare parolă nouă: <input type="password" name="confirm" required></p>
      <button type="submit" class="btn">Salvează</button>
    </form>

    <p><a href="{% url 'profile' %}">Înapoi la profil</a></p>
  </section>
{% endblock %}
