{% extends 'magazin_app/baza.html' %}
{% load static %}

{% block title %}Despre noi{% endblock %}
{% block content %}
<h1>Despre noi</h1>
<h3>Magazinul nostru de suplimente fitness oferă produse de înaltă calitate dedicate pasionaților de sport, 
    performanță și un stil de viață sănătos. Ne dorim să sprijinim fiecare client în atingerea obiectivelor
     sale printr-o gamă variată de proteine, vitamine, aminoacizi și alte suplimente esențiale. Punem accent
      pe transparență, siguranță și consiliere profesională, astfel încât fiecare achiziție să contribuie la rezultate reale și durabile.</h3>

<img src="{% static 'magazin_app/imagini/imagine.webp' %}" style="height : 400px">
{% endblock %}