{% extends "magazin_app/baza.html" %}

{% block title %}Înregistrare{% endblock %}

{% block content %}
  <section class="formular">
    <h2>Înregistrare utilizator</h2>

    {% if messages %}
      {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
      {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn">Creează cont</button>
    </form>

    <p>Ai deja cont? <a href="{% url 'login' %}">Autentifică-te</a></p>
  </section>
{% endblock %}
